#title-container {
    background-color: rgb(118, 198, 198); 

}

.employee-card {
    margin: 1rem !important;
}

.card-header {
    background-color: rgb(203, 200, 200);
}

h1, h3 {
    font-family:'Dancing Script', cursive !important;
}

h1 {
    font-size: 4rem;
}